<div class="container my-5 py-5">
    <h1 class="text-center my-5 fw-bolder py-5">Department Details</h1>
    <div class="row my-5 justify-content-center py-5">
          <div class="card bg-dark text-light  text-capitalize w-50">
            <div class="card-body">
              <h5 class="card-title fw-bold mb-3 ">{{department?.name}}</h5>
              <p class="card-text">Department Id : <span class="text-danger">{{department?._id}}</span></p>
              <p class="card-text"> department location : <span class="text-danger">{{department?.location}}</span></p>
            </div>
          </div>
    </div>
</div>