<div class="container text-capitalize">
    <h1 class="text-center"> Departments</h1>
    <div class="row  my-4 ">
        <h3 class="w-50" >Add New Departmen <a  class="btn btn-primary w-25" [routerLink] = "['/departments/add']" > add</a></h3>
    </div>
   <div class="row">
    <table class="table-hover table table-dark text-center">
        <thead>
            <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Location</td> 
            <td colspan="3">Action</td>
            </tr>
        </thead>
        <tbody>
            @for (item of departments ; track $index){
              <tr>
                <td>{{item._id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.location}}</td>
                <td> <a [routerLink]="['/departments/details', item._id]"> Details</a></td>
                <td> <a [routerLink]="['/departments/update', item._id]">update </a></td>
                <td> <a [routerLink]="['/departments/delete', item._id]">delete </a></td>
              </tr>  
            }@empty {
                <tr>there is no departmens</tr>
            }
            
        </tbody>
    </table>
   </div>
</div>