<!-- <div class="container">
    <h3 class="text-center m-2 fw-bold">Add New Students</h3>
    <div class="mb-3">
        <label for="studentID">Student ID:</label>
        <input class="form-control" type="text" id="studentID" [(ngModel)]="nstd.id">
    </div>
    <div class="mb-3">
        <label for="studentName">Student Name:</label>
        <input  class="form-control" type="text" id="studentName" [(ngModel)]="nstd.name">
    </div>
    <div class="mb-3">
        <label for="studentAge">Student Age:</label>
        <input  class="form-control" type="text" id="studentAge" [(ngModel)]="nstd.age">
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary w-50" (click)="save()">Save</button>
    </div>
</div> -->
