<nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink="/home" role="tab" aria-controls="pills-profile" aria-selected="false">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink="/about" role="tab" aria-controls="pills-profile" aria-selected="false">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="/contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="/students" role="tab" aria-controls="pills-contact" aria-selected="false">Student details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" routerLink="/departments" role="tab" aria-controls="pills-contact" aria-selected="false"> department List</a>
        </li>
        </ul>
    </nav>


